<ion-header>
  <ion-navbar style="opacity: 0.8" no-border-bottom color="primary">
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <ion-row *ngIf="spinner">
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides" (click)="goDetails(slide)">
      <img src="{{slide.PictUrl}}" alt="">
      <div class="cover"></div>
      <span class="title">{{slide.Title}}</span>
    </ion-slide>
  </ion-slides>

  <div class="categories">
    <ion-grid>
      <ion-row wrap>
        <ion-col text-center tappable col-3 *ngFor="let category of categories" (click)="goProductList(category)">
          <i class="iconfont {{category.Icon}} icon"></i>
          <span class="title">{{category.FavoritesTitle}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item-divider class="t-header" color="light">
    年会礼服2017年新款
  </ion-item-divider>

  <products [products]="products"></products>

</ion-content>
